<div class="flat-box">
    <div class="flat-item">
        <div style="top: 75px;">о болезни Бехтерева</div>
        <img src="{{ asset('bundles/app/imgs/b1.png') }}" style="padding-left: 0">
    </div>
    <div class="flat-item">
        <div style="top: 45px;">лечение</div>
        <img src="{{ asset('bundles/app/imgs/b2.png') }}">
        <div style="top: 135px;">симптомы</div>
        <img src="{{ asset('bundles/app/imgs/b3.png') }}" style="    margin-top: -5px;">
    </div>
    <div class="flat-item">
        <div style="top: 75px; font-size: 15px">
            физкультура
        </div>
        <img src="{{ asset('bundles/app/imgs/b4.png') }}">
    </div>
    <div class="flat-item">
        <div style="top: 45px;">
            У женщин
        </div>
        <div style="top: 130px;">
            У мужчин
        </div>
        <img src="{{ asset('bundles/app/imgs/b6.png') }}">
    </div>
    <div class="flat-item">
        <div style="top: 75px;">
            самостоятельный контроль
        </div>
        <img src="{{ asset('bundles/app/imgs/b5.png') }}" style="padding-right: 0">
    </div>
</div>