<div class="flat-box">
    <div class="flat-item">
        <img src="{{ asset('bundles/app/imgs/b1.png') }}" style="padding-left: 0">
    </div>
    <div class="flat-item">
        <img src="{{ asset('bundles/app/imgs/b2.png') }}">
        <img src="{{ asset('bundles/app/imgs/b3.png') }}">
    </div>
    <div class="flat-item">
        <img src="{{ asset('bundles/app/imgs/b4.png') }}">
    </div>
    <div class="flat-item">
        <img src="{{ asset('bundles/app/imgs/b5.png') }}">
    </div>
    <div class="flat-item">
        <img src="{{ asset('bundles/app/imgs/b6.png') }}" style="padding-right: 0">
    </div>
</div>