{% extends 'AppBundle::layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets "@AppBundle/Resources/public/less/comments.less" %}
    <link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="all" />
    {% endstylesheets %}
{% endblock %}

{% block content %}
    <div>
        {% if publication.preview.path is defined  %}
            <img src="{{ publication.preview.path }}" style="max-width: 250px; float: left; margin: 0 20px 10px 10px" class="img-thumbnail">
        {% endif %}
        <h1 class="blue-text">{{ publication.title }}</h1>
        {{ publication.body | raw }}
        {% if publication.video.path is defined %}
            <div style="text-align: center">
                <video controls style="width: 100%;">
                    <source src="{{ publication.video.path }}" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
        {% endif %}
        {% if publication.iframe != null %}
            <div class="text-center">
                {{ publication.iframe | raw }}
            </div>
        {% endif %}
        <br />
        <br />
        <script type="text/javascript" src="//yastatic.net/es5-shims/0.0.2/es5-shims.min.js" charset="utf-8"></script>
        <script type="text/javascript" src="//yastatic.net/share2/share.js" charset="utf-8"></script>
        <div class="ya-share2" data-services="vkontakte,facebook,odnoklassniki,gplus,twitter" data-counter=""></div>
    </div>
{% endblock %}