{% extends 'AppBundle::layout.html.twig' %}

{% block javascript %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-xs-12" style="color: #001A64">
            <h2>Остеохондроз - причины боли: поясничный отдел позвоночника</h2>
            <p>
                Боли в спине испытывают миллионы людей по всему миру. Это настоящая эпидемия для всего человечества - ведь у большинства жителей нашей планеты боль в спине, боли в суставах, боли в пояснице и ногах зачастую идут рука об руку друг с другом.
            Почему-то повсеместно принято считать, что если у Вас болит спина, ноги, поясница (крестец он же копчик) и даже мышцы, то эта боль вызвана остеохондрозом, собственно, того отдела позвоночника, где она появилась.
            </p>
            <h3>Остеохондроз - лечение позвоночника и причины боли</h3>
            <p>
                Между тем, в России и остальном мире под словом «остеохондроз» понимают абсолютно разные группы заболеваний. Казалось бы, если у Вас возникла боль в спине, пояснице, ноющая боль в ногах, то логично предположить, что все эти части тела не могут быть охвачены одним и тем же заболеванием, так как, по большому счету, они не связаны между собой напрямую.
            Согласитесь, если Вы ударились спиной, нога болеть не должна? Но, к сожалению, ответ на данный вопрос не очевиден.
            Существует ряд заболеваний, которые повсеместно называют «Остеохондроз позвоночника», но как бы пациент не старался, справиться с ним не могут. Пациенты посещают таких врачей, как травматолог, хирург, невропатолог; им назначаются дорогие препараты, но боли никуда не уходят.
            </p>
            <h3>Воспалительная боль</h3>
            <p>
                Причиной боли в спине, которую никак не могут вылечить, в том числе у молодых людей, скорее всего, является воспалительный процесс, проходящий в организме.
            В этом месте хотелось бы сказать, что воспалительные боли в спине, пояснице, суставах необходимо наблюдать у врача, который называется Ревматолог.
            Но как же простому человеку определить воспалительная боль у него или нет?
                <br />
            Все просто. Для этого достаточно ответить на несколько вопросов, которые подготовлены научными сотрудниками.
                <br />
            Если Вас длительно мучают боли в пояснице и позвоночнике, и Вы хотели бы понять причины боли, пройдите тест на определение воспалительного характера боли. Если результаты теста окажутся положительными, то Вам следует обратиться к ревматологу для оценки Вашего состояния и назначения адекватного лечения.
            </p>
        </div>
    </div>
    <br />
    <br />
    <div class="row">
        <div class="col-sm-7 col-xs-12" style="border-right: 1px solid #001A64; padding-right: 30px;">
            <div class="content-title text-center">Новости</div>
            <div class="news-block">
                {% for p in publications %}
                <div class="new-item">
                    <div class="new-title">
                        <a href="{{ path('publications',{'url': p.slug }) }}">{{ p.title }}</a>
                    </div>
                    <div class="new-params">{{ p.created | date('d.m.Y') }}</div>
                    <div class="new-desc">
                        {{ p.body | striptags | slice(0 , 200) }}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-sm-5 col-xs-12" style=" padding-left: 30px;">
            <div class="content-title text-center">Видеоуроки</div>
            <div class="news-block">
                {% for v in videos %}
                    <div class="news-item text-right">
                        <a href="{{ path('publications',{'url': v.slug }) }}">{{ v.title }}</a>
                    </div>
                    <br />
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}