{% extends 'AppBundle::layout.html.twig' %}

{% block javascript %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-7 col-xs-12" style="border-right: 1px solid #001A64; padding-right: 30px;">
            <div class="content-title text-center">О Болезние Бехтерова</div>
            <div class="news-block">
                {% for p in publications %}
                <div class="new-item">
                    <div class="new-title">
                        <a href="{{ path('publications',{'url': p.slug }) }}">{{ p.title }}</a>
                    </div>
                    <div class="new-params">{{ p.created | date('d.m.Y') }}</div>
                    <div class="new-desc">
                        {{ p.body | striptags | slice(0 , 200) }}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-sm-5 col-xs-12" style=" padding-left: 30px;">
            <div class="content-title text-center">Видеоуроки</div>
            <div class="news-block">
                {% for v in videos %}
                    <div class="news-item text-right">
                        <a href="{{ path('publications',{'url': v.slug }) }}">{{ v.title }}</a>
                    </div>
                    <br />
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}