{% extends 'AppBundle::layout.html.twig' %}

{% block javascript %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-xs-12" style="color: #001A64">
            <h3>Что такое болезнь Бехтерева</h3>
            <p>
                Основной особенностью воспаления суставов при данном заболевании является постепенное ограничение их подвижности с образованием анкилозов (сращений костей друг с другом), отсюда происходит и название болезни. Одновременно происходит окостенение связок, укрепляющих позвоночник. В результате позвоночник может полностью утрачивать свою гибкость и превращаться в сплошную кость.
            </p>
            <a href="{{ path('page',{'url' : 'about-1'}) }}"><button type="button" class="btn btn-primary">Подробнее...</button></a>

            <h3>Причины заболевания</h3>
            <p>
                Истинная причина возникновения АС (болезни Бехтерева) пока не ясна.<br />
                На сегодняшний день принято исходить из того, что данное заболевание – подобно ревматоидному артриту – возникает в связи с неправильной работой иммунной системы и поражает аутогенные клетки. В связи с этим анкилозирующий спондилит называют иногда аутоиммунным заболеванием (autos – от греческого корня «само»).
            </p>
            <a href="{{ path('page',{'url' : 'about-2'}) }}"><button type="button" class="btn btn-primary">Подробнее...</button></a>

        </div>
    </div>
    <br />
    <br />
    <div class="row">
        <div class="col-sm-7 col-xs-12" style="border-right: 1px solid #001A64; padding-right: 30px;">
            <div class="content-title text-center">Новости</div>
            <div class="news-block">
                {% for p in publications %}
                <div class="new-item">
                    <div class="new-title">
                        <a href="{{ path('publications',{'url': p.id }) }}">{{ p.title }}</a>
                    </div>
                    <div class="new-params">{{ p.created | date('d.m.Y') }}</div>
                    <div class="new-desc">
                        {{ p.body | striptags | slice(0 , 200) }}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-sm-5 col-xs-12" style=" padding-left: 30px;">
            <div class="content-title text-center">Видеоуроки</div>
            <div class="news-block">
                {% for v in videos %}
                    <div class="news-item text-center">
                        <a href="{{ path('publications',{'url': v.id }) }}">{{ v.title }}</a>
                        <br />
                        <a href="{{ path('publications',{'url': v.id }) }}">
                            <img src="{{ v.preview.path }}" class="img-thumbnail" style="    height: 180px !important;">
                        </a>
                    </div>
                    <br />
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}